@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

.contact {
  font-family: "Fredoka", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s;
  text-align: center;
}

.contact:hover {
 text-decoration: underline;
}

body {
  background-color: #55423d;
  overflow-x: hidden;
}

.nav {
  background-color: #ffc0ad;
  text-align: center;
  border: 1px solid black;
  width: 100%;
}
.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.nav a {
  text-decoration: none;
  cursor: pointer;
  color: #140d0b;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column-reverse;
  padding: 2rem;
  gap: 2rem;
}

.containerr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff3ec;
  height: 400px;
  width: 300px;
  border: 18px solid #ffc0ad;
  border-bottom: 70px solid #ffc0ad;
  border-radius: 44px;
  box-shadow: inset 0 0 0 2px #000;
  outline: 2px solid #000;
  padding: 25px;
  word-wrap: break-word;
}

.btn {
  background-color: #e78fb3;
  margin-top: 389px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  color: #140d0b;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 0.938rem;
  padding: 8px;
  cursor: pointer;
}

.text {
  font-family: "Fredoka", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "Poppins", sans-serif;
}

.desc-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.desc-title {
  color: #fffffe;
  text-align: center;
}

.desc-text {
  color: #fffffe;
  text-align: center;
  max-width: 60ch;
  font-size: 0.875rem;
  font-style: italic;
}

/* xs */
@media (min-width: 475px) {
  .containerr {
    width: 390.15px;
  }
  .btn{
    font-size: 1rem;
  }

  .desc-title {
    white-space: nowrap;
  }

  .desc-text {
    text-align: justify;
    font-size: 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .containerr {
    width: 516.6px;
  }

  .desc-text {
    font-size: 1.125rem;
  }
}

/* md */
@media (min-width: 768px) {
  .containerr {
    width: 516.6px;
    padding: 50px;
  }

  .text {
    font-size: 1.4rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .section {
    flex-direction: row;
    padding: 2rem;
    gap: 6rem;
    height: 100vh;
  }

  .desc-section {
    align-items: normal;
  }

  .desc-title {
    text-align: left;
  }

  .desc-text {
    font-size: 1.125rem;;
  }

  .containerr {
    width: 520px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .section {
    gap: 3rem;
    justify-content: space-evenly;
  }

  .desc-section {
    align-items: normal;
  }

  .desc-title {
    text-align: left;
  }

  .containerr {
    width: 620px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
